################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/Desktop/SecretPassword/Entities/bin/Debug
/Desktop/SecretPassword/Entities/obj/Debug
/Desktop/SecretPassword/Entities/Properties
/Desktop/SecretPassword/Models/bin/Debug
/Desktop/SecretPassword/Models/obj/Debug
/Desktop/SecretPassword/Models/Properties
/Desktop/SecretPassword/.vs/SecretPassword/v15/Server/sqlite3
/Desktop/SecretPassword/.vs/SecretPassword/v15
/Desktop/SecretPassword/Business/bin/Debug
/Desktop/SecretPassword/Business/obj/Debug
/Desktop/SecretPassword/Business/Properties
/Desktop/SecretPassword/SecretPassword/bin/Debug
/Desktop/SecretPassword/SecretPassword/obj/Debug
/Desktop/SecretPassword/SecretPassword/Properties
/Desktop/SecretPassword/packages/Newtonsoft.Json.12.0.3
/Desktop/SecretPassword/Business/bin/Release
/Desktop/SecretPassword/Business/obj/Release
/Desktop/SecretPassword/Business/x64
/Desktop/SecretPassword/Business/x86
/Desktop/SecretPassword/Entities/bin/Release
/Desktop/SecretPassword/Entities/obj/Release
/Desktop/SecretPassword/Models/bin/Release
/Desktop/SecretPassword/Models/obj/Release
/Desktop/SecretPassword/packages
/Desktop/SecretPassword/SecretPassword/obj/Release
/Desktop/SecretPassword/SecretPassword/bin/Release
/.vs/SecretPassword/FileContentIndex
